name: 'Release'
on:
  push:
    branches:
      - master
#      - feature/insights-2-remove-projen

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          # Otherwise the token this creates(?) overrides the workflow generated one, required for semantic-release to work
          # https://github.com/semantic-release/semantic-release/blob/master/docs/recipes/ci-configurations/github-actions.md#pushing-packagejson-changes-to-a-master-branch
          persist-credentials: false
      - uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: 'npm'

      - run: npm ci
      - run: npm ci
        working-directory: application/src/frontend

      - run: npm run package
      - uses: actions/cache@v4
        with:
          path: ./
          key: ${{ github.sha }}

  release:
    needs: build
    permissions:
      contents: write # to be able to publish a GitHub release
      issues: write # to be able to comment on released issues and close
      pull-requests: write # to be able to comment on released pull requests
      id-token: write # to enable use of OIDC for npm provenance
    runs-on: ubuntu-latest
    steps:
      - uses: actions/cache@v4
        with:
          path: ./
          key: ${{ github.sha }}
      - run: npx semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
